@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 24px;
}

.header-left,
.header-right {
    display: flex;
    margin: 0px 24px;
    gap: 24px;
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    padding: 100px;
    gap: 50px;
}

.hero-left {
    width: 350px;
    color: white
}

button {
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:hover, button:focus {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    background-color: #004494;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
    flex: 1;
  }
  
  .gallery-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
  }

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 72px;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    max-width: 675px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.testimonial-attribution {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: -64px;
}

.cta-container {
    display: flex;
    padding: 72px;
    justify-content: center;
}

.cta-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border-radius: 5px;
    padding: 0 72px;
}

.cta-text {
    color: white;
    margin: 32px 150px 32px 0;
}

.cta-text h4 {
    margin-bottom: 0;
    font-size: larger;
}

.cta-text p {
    margin-top: 0;
    font-weight: 300;
}

.cta-action button {
    border: 2px solid white;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 16px;
}